@import url('https://fonts.googleapis.com/css2?family=Georama:wght@100;400&display=swap');
body{
  height: 100%;
  font-family: 'Georama', sans-serif;
  color: white;
  font-size: 1.5rem;
  background-image: linear-gradient(rgba(174, 0, 55, 0.5), rgba(174, 0, 55, 0.5)), url(https://pbs.twimg.com/media/Ex8KylgW8AIY_Eo?format=jpg&name=large);
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card {
  width: 40%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 30px;/*rounded corners*/
  background-color: #ffbf83;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
/* Add rounded corners to the top left and the top right corner of the image*/ 
img {
  border-radius: 20%;
  margin: 15px;
}
#profile {
  margin-top: 3em;
  width: 200px;
  height: 200px;
}
hr.divider {
   border-top: 1px solid white;
  border-bottom: 0px;
  width: 50%;
  margin: 20px auto;
}
#social-icons,#social-icons2{
  margin: 20px;
}
.fa{
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
.fa:a{
  margin: 10px;
}
.fa-instagram,.fa-twitter,.fa-linkedin,.fa-github{
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  width: 1em;
  height: 1em;
  background: #ffead7;
  color: #e88f3e;
}
.flex-container {
    /*display: flex;*/
    justify-content: center;
    text-align: center;
}
#artist{
  text-transform: uppercase;
  font-size: 2em;
}
#caption{
  opacity: 0.7;
  font-size: 0.6em;
  margin: 2em 0em 4em 0em;
}
/*art*/
.art{
  margin: 0px 0px;
}
.square{
  padding: 0 8px;
  object-fit: cover;
  width: 133px;
  height: 133px;
  /*border-radius: 20px;*/
}
.square:hover{opacity: 0.7;}
@media screen and (max-width: 1920px) {
  .art {
    margin: 0px;
  }
}
@media screen and (max-width:1000px) {
  .square{
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }
}
@media screen and (max-width:760px) {
  img {
    margin: 5px;
  }
  .square{
    width: 70px;
    height: 70px;
    border-radius: 10px;
  }
}
@media screen and (max-width:440px) {
  .square{
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
}